/*Variables*/
:root {
  --common-border: 1px solid #d8d5d5;
  --primary-color: #7477bf;
  --secondary-color: #4d4c72;
}
/*Setting the viewport*/
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
}
ul {
  list-style-type: none;
}
input:focus,
textarea:focus,
select:focus,
button:focus,
checkbox:focus {
  outline: none;
}

/*?--------------Grid Container------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 95px 1fr;
}
header {
  grid-column: 1/3;
}
nav {
  grid-column: 1/2;
}
main {
  grid-column: 2/3;
}

/*?----------------Header-------------*/
.header-container ul {
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  padding-left: 15px;
  color: white;
}
h1 {
  position: relative;
}
h1 span,
h1 small {
  font-weight: normal;
}
h1 small {
  font-size: 0.6rem;
  position: absolute;
  top: 5px;
}
.bell {
  width: 25px;
  position: relative;
}
.notification {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 22px;
  top: -3px;
  background-color: lightgreen;
  border-radius: 50%;
}
.header-container li:nth-child(2) {
  margin-left: auto;
  margin-right: 25px;
}
.header-container li:nth-child(3) {
  border-left: 1px solid rgb(107, 107, 107);
}
.header-container li:last-child {
  margin-left: 10px;
  margin-right: 25px;
  font-size: 1.1rem;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

/*?---------------Nav---------------*/
.nav-container {
  background-color: var(--secondary-color);
  height: 100%;
  padding-top: 10px;
}
.nav-icon {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 17px 14px;
}
.nav-icon-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  left: -70px;
  top: 0px;
}
.nav-icon:hover > div {
  background-color: lightgreen;
}

/*?Main*/
.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-container > div:not(.main-header) {
  padding: 25px;
}

/*?Main Header*/
h3 {
  margin-bottom: 25px;
  font-size: 1.4rem;
}
.main-header {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
}
.main-header h2 {
  padding: 30px 20px 0 20px;
  font-size: 1.8rem;
}
.main-search {
  height: 80px;
  padding: 15px 25px;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  border-left: var(--common-border);
  border-bottom: var(--common-border);
  background-color: #fbfbfb;
}
.search-btn {
  background-color: white;
  border: none;
  margin-left: auto;
  color: white;
  text-indent: 1em;
  background: url("../icons/search.svg") no-repeat center;
}
.search-container {
  width: 40%;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 1px solid #d8d5d5;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  background-color: white;
}
.search-box {
  border: none;
  padding-left: 20px;
}

/*?PopUp Alert*/
.popUp {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  margin: 30px 25px 0 25px;
  align-items: center;
  font-size: 1.2rem;
}
.popUp p:first-child {
  font-weight: bold;
  margin-right: 15px;
}
.popUp-btn {
  border: none;
  padding: 0;
  color: white;
  background-color: var(--primary-color);
  margin-left: auto;
  font-size: 1.3rem;
  font-weight: bold;
}

/*?Traffic*/
.traffic {
  grid-column: 1/3;
  border-bottom: var(--common-border);
}
.traffic-header ul,
.traffic-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.traffic-header ul {
  margin-left: auto;
  padding-right: 16px;
}
.traffic-link {
  margin-left: 25px;
  font-size: 1.2rem;
  font-weight: bold;
}
.traffic-link button {
  padding: 10px;
  border-radius: 25px;
  background-color: inherit;
}

/*?Daily Traffic*/
.daily-traffic {
  grid-column: 1/2;
  border-right: var(--common-border);
}

/*?Mobile User*/
.mobile-user {
  grid-column: 2/3;
}

/*?Social States*/
.social-stats {
  grid-column: 1/3;
  border-top: var(--common-border);
  border-bottom: var(--common-border);
}
.icon.twitter,
.icon.google {
  width: 50px;
  height: 50px;
}
.social {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  padding-top: 7px;
  margin-right: 20px;
}
.social.twitter {
  padding-top: 20px;
}
.social.facebook {
  padding-top: 10px;
}
.social.google {
  padding-top: 18px;
}
.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}
.social-container li {
  border: 2px solid #dedede;
  padding: 25px 70px 25px 30px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #fbfbfb;
}
.social-title p:first-child {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
}
.social-title {
  font-family: "Work Sans", sans-serif;
  padding-top: 3px;
  line-height: 0.9;
}
.social-count {
  font-size: 3.7rem;
}

/*?Member*/
.new-member {
  grid-column: 1/2;
  border-bottom: var(--common-border);
  border-right: var(--common-border);
}
.member {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}
.member > p {
  margin-left: auto;
  padding-top: 10px;
}
.new-member > div:not(:last-child),
.recent-activity > div:not(:last-child) {
  border-bottom: var(--common-border);
}
.member-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.member-data p {
  letter-spacing: initial;
  font-size: 1.05rem;
}
.member-data {
  padding-top: 4px;
  line-height: 1.3;
}
.member-data a {
  color: var(--primary-color);
  font-size: 1rem;
}
.member-data span {
  font-size: 1rem;
}

/*?Activity*/
.recent-activity {
  grid-column: 2/3;
  border-bottom: var(--common-border);
}
.arrow {
  width: 30px;
  height: 45px;
  margin-left: auto;
  padding-top: 0;
}

/*?Message*/
.message {
  grid-column: 1/2;
  border-right: var(--common-border);
}
.search,
.mesz,
.select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 0 20px;
  background-color: #f6f4f4;
  font-size: 1.2rem;
  border: 1px solid #d8d5d5;
}
.button {
  width: 100%;
  border-radius: 5px;
}
.button,
.save-btn {
  background-color: var(--primary-color);
  color: white;
  height: 60px;
}
.search,
.select {
  height: 50px;
}
.mesz {
  height: 140px;
  padding-top: 15px;
}
button {
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
}

/*?Setting*/
.setting {
  grid-column: 2/3;
}
.toggle-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.toggle span {
  font-size: 1.2rem;
  font-weight: bold;
}
.toggle-label p {
  padding-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}
.toggle-label p + p {
  margin-top: 45px;
}
.toggle label + label {
  margin-top: 35px;
  margin-bottom: 32px;
}
.toggle {
  margin-left: 35px;
}
.set-btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.set-btn-cont button {
  width: 48%;
  height: 60px;
  border-radius: 5px;
}
.set-btn-cont button + button {
  background-color: gray;
  color: white;
}
